.hero-title {
  font-size: clamp(2.25rem, -2.6447rem + 7.8947vw, 3.75rem);
}

.hero-swiper {
  aspect-ratio: 375 / 487;
  width: 100%;
}

@media (min-width: 768px) {
  .hero-swiper {
    aspect-ratio: 1920 / 756;
  }
}

.hero-slide {
  background-image: var(--bg-mobile);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

@media (min-width: 768px) {
  .hero-slide {
    background-image: var(--bg-desktop);
  }
}

.hero-content {
  width: clamp(240px, 100%, 440px);
}

.swiper-slide {
  width: auto;
}